[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
dash = "*"
black = "*"
dash_html_components = "*"
dash_bootstrap_components = "*"
dash_core_components = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
